!Build/
*.bak
*.bbproj
*.bs
*.o
*.old
*.rej
*.tar
*.tar.gz
*.tgz
*.yml
*.zip
*.swp
.last_cover_stats
.prove
/.build/
/MANIFEST.bak
/META.*
/MYMETA.*
/Makefile
/Makefile.old
/blib/
/pm_to_blib
Build
Build.bat
MYMETA*
Makefile
Test-*
_build/
blib
cover_db
cover_db/
inc/
nytprof.out
pm_to_blib
*.bak
*.icloud
