# brian's standard Travis CI config for Perl 5 modules
# https://github.com/briandfoy/brians_perl_modules_travis_config
# This file is licensed under the Artistic License 2.0

dist: trusty

cache:
    directories:
    - $HOME/.perlbrew-cache

language: perl
perl:
    - "5.10"
    - "5.12"
    - "5.14"
    - "5.16"
    - "5.18"
    - "5.20"
    - "5.22"
    - "5.24"
    - "5.26"
    - "5.28"
    - "5.30"

env:
    - OLD_DEVEL_COVER=0

matrix:
    include:
        - perl: 5.8
          env: OLD_DEVEL_COVER=1

before_install:
    - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
    - source ~/travis-perl-helpers/init --auto
    - build-perl
    - perl -V
    - build-dist
    - cd $BUILD_DIR

install:
    - cpanm --quiet --installdeps --notest .
    - if [ "$OLD_DEVEL_COVER" = "0" ]; then cpanm --quiet --notest Devel::Cover; fi
    - if [ "$OLD_DEVEL_COVER" = "1" ]; then cpanm --quiet --notest Devel::Cover@1.23; fi
    - cpanm --quiet --notest Devel::Cover::Report::Coveralls

script:
    - cover -delete && cover -test

after_success:
    - cover -report coveralls
