name: macos

on:
    push:
        branches:
            - '*'
        tags-ignore:
            - '*'
        pull_request:

jobs:
    perl:
        runs-on: macOS-latest

        steps:
            - uses: actions/checkout@v2
            - name: Platform check
              run: uname -a
            - name: Set up Perl
              run: brew install perl
            - name: Perl version check
              run: perl -V
            - name: Prepare cpan
              run: |
                openssl version
                cpan IO::Socket::SSL
                cpan -M https://www.cpan.org -T ExtUtils::MakeMaker
            - name: Install dependencies
              run: |
                cpan -M https://www.cpan.org -T .
            - name: Run tests
              run: |
                perl Makefile.PL
                make test
